<div [style.width]="width()" class="text-input-root">
  <label [for]="id()">{{ label() }}</label>
  @if(type()=='password'){
  <nz-input-password class="custom-input">
    <input
      nz-input
      [type]="type()"
      [value]="internalValue"
      (input)="onInput($event)"
      [disabled]="disabled"
      (blur)="onBlur()"
      [name]="name()"
      [id]="id()"
      [placeholder]="placeholder()"
      [style.height]="height()"
    />
  </nz-input-password>
  }@else{
  <input
    class="custom-input"
    nz-input
    [type]="type()"
    [value]="internalValue"
    (input)="onInput($event)"
    [disabled]="disabled"
    (blur)="onBlur()"
    [name]="name()"
    [style.height]="height()"
    [id]="id()"
    [placeholder]="placeholder()"
  />
  } @if(error()){
  <small>{{ error() }}</small>
  }
</div>
