@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');
:root {
  --primary-100: #f01f350d;
  --primary-200: #f01f351a;
  --primary-300: #f01f3599;
  --primary-400: #f01f35;

  --secondary-100: #59bcff0d;
  --secondary-200: #59bcff;
  --secondary-300: #59bcff0d;
  --secondary-400: #59bcff1a;

  --dark-100: #1e1e1e99;
  --dark-200: #1e1e1ecc;
  --dark-300: #1e1e1e;
  --dark-400: #000000;
  --dark-500: #1e1e1e0d;
  --dark-600: #1e1e1e33;

  --white-100: #f5f5f5;
  --white-200: #fcfcfc;
  --white-300: #ffffff;
}
body {
  margin: 0;
  padding: 0;
}

/* Reset all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Urbanist", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-bottom: 0px !important;
}